<!doctype html>
<html lang="en">{{with .Dot}}

<head>
	{{template "head.html" $}}
</head>
{{template "body_start.html" $}}

<h3>API endpoints</h3>

<form autocomplete="off" action="/job" method="post" enctype="multipart/form-data">
	<div class="input-group mt-3 mb-1">
		<span class="input-group-text">POST /job</span>
		<input class="form-control" type="file" name="{{.FormFileKey}}" id="{{.FormFileKey}}" accept=".pdf, .docx, .doc, .docm, .xlsx, .xls, .pptx, .ppt, .odt, .odg, .odp, .ods, .ots, .ott">
		<div class="input-group-text">URL</div>
		<input class="form-control" type="text" name="{{.FormURLKey}}" id="{{.FormURLKey}}">
		<select class="form-select" id="{{.FormLangKey}}" name="{{.FormLangKey}}">
			<option value="auto" href="#">Language (auto)</option>
			{{range .Languages}}
			<option value="{{.}}" href="#">{{$.Dot.LanguageName .}}&nbsp;({{.}})</option>
			{{end}}
		</select>
		<input type="hidden" id="testing" name="testing" value="1">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
<div>
	If the form key "file" is used, the file name must be present and have an extension.<br>
	If the form key "url" is used, attempt to download whatever is found on that URL and process it.<br>
	Accepts an optional "lang" form key specifying the OCR language to use.<br>
	Requires Content-Encoding "multipart/form-data".<br>
	Pressing "Submit" won't show the response here - check the browsers console to see it.
</div>
<ul>
	<li>200 OK: Response is the UUID string of the created job.</li>
	<li>400 Bad Request: Likely malformed encoding or language code.</li>
</ul>

<div class="input-group mt-3 mb-1">{{with .TestPut}}
	<span class="input-group-text">PUT /job?url=</span>
	{{$.Text .URLParam `class="form-control"`}}
	<span class="input-group-text">&file=</span>
	{{$.Text .FileParam `class="form-control"`}}
	<span class="input-group-text">&lang=</span>
	{{$.Text .LangParam `class="form-control"`}}
	{{$.Button "Submit" `class="btn btn-primary" name="put"` .}}
{{end}}</div>
<div>
	If "url" query parameter is given, attempt to download whatever is found on that URL and process it.<br>
	If "file" query parameter is given the file name must have an extension and the request body is the file data.<br>
	Accepts an optional "lang" query parameter specifying the OCR language to use.<br>
	Must not set Content-Encoding header.<br>
	Pressing "Submit" with a "file" parameter will send a request body containing the text "Hello World!".
</div>
<ul>
	<li>200 OK: Response is the UUID string of the created job.</li>
	<li>400 Bad Request: Likely illegal file name, URL or language code.</li>
</ul>

<div class="input-group mt-3 mb-1">{{with .TestGet}}
	<span class="input-group-text">GET /job/</span>
	{{$.Text . `class="form-control" placeholder="uuid"`}}
	{{$.Button "Submit" `class="btn btn-primary" name="get"` .}}
{{end}}</div>
<ul>
	<li>200 OK: Response body is rinsed PDF file. Rinsed file name in Content-Disposition header.</li>
	<li>202 Accepted: The UUID is valid but the job has not yet completed.</li>
	<li>204 No Content: The UUID was valid but the job has failed.</li>
	<li>404 Not Found: The given UUID was invalid or does not identify an active job.</li>
</ul>

<div class="input-group mt-3 mb-1">{{with .TestDelete}}
	<span class="input-group-text">DELETE /job/</span>
	{{$.Text . `class="form-control" placeholder="uuid"`}}
	{{$.Button "Submit" `class="btn btn-primary" name="delete"` .}}
{{end}}</div>
<ul>
	<li>200 OK: The job was found and will be deleted.</li>
	<li>404 Not Found: The given UUID was invalid or does not identify an active job.</li>
</ul>

<div class="input-group mt-3 mb-1">{{with .TestPreview}}
	<span class="input-group-text">GET /preview/</span>
	{{$.Text . `class="form-control" placeholder="uuid"`}}
	<span class="input-group-text">?pages=</span>
	{{$.Number .PagesParam `class="form-control"`}}
	<span class="input-group-text">&width=</span>
	{{$.Number .WidthParam `class="form-control"`}}
	<div class="input-group-text">
		{{$.Checkbox .IframeParam `class="form-check-input me-1"`}}
		&iframe
	</div>
	{{$.Button "Submit" `class="btn btn-primary" name="preview"` .}}
{{end}}</div>
<div>
	Returns a preview of the document. Pages will be stacked vertically.<br>
	Response is a JPEG image unless the "iframe" query parameter is nonzero, in which case
	the response will be a HTML page with an embedded base64-encoded JPEG image.<br>
	Requesting a preview will succeed as soon as at least one page has been rendered.
</div>
<ul>
	<li>200 OK: Response as described above.</li>
	<li>202 Accepted: The UUID is valid but no pages have been rendered yet.</li>
	<li>204 No Content: The UUID was valid but the job has failed.</li>
</ul>

{{template "body_end.html" $}}
{{end}}</html>