<!doctype html>
<html lang="en">{{with .Dot}}

<head>
	{{template "head.html" $}}
</head>
{{template "body_start.html" $}}

<form class="row align-items-center mb-3" autocomplete="off" action="/add" method="post" enctype="multipart/form-data">
	<div class="col">
		<input class="form-control" type="file" name="{{.FormFileKey}}" id="{{.FormFileKey}}" accept=".pdf">
	</div>
	<div class="col-auto">
		<select class="form-select" id="{{.FormLangKey}}" name="{{.FormLangKey}}">
			{{range .Languages}}
			<option value="{{.}}" href="#">{{.}}</option>
			{{end}}
		</select>
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

{{$.Container "div" .}}

{{template "body_end.html" $}}
{{end}}</html>