<!doctype html>
<html lang="en">{{with .Dot}}

<head>
	{{template "head.html" $}}
</head>
{{template "body_start.html" $}}

<form autocomplete="off">
	<p class="text-danger">Please consider the implications when changing these job defaults.</p>

	<p>The settings file is at <code>{{.SettingsFile}}</code></p>

	<div class="input-group mb-3">
		<div class="input-group-text">
			{{$.Checkbox .UiCleanupGotten `class="form-check-input mt-0 me-1"`}}Remove jobs once downloaded
		</div>
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Always remove jobs after</div>
		<span class="form-control">{{$.Range .UiAutoCleanup `class="form-range align-bottom" min="0" max="86400" step="60"`}}</span>
		{{$.Span .UiAutoCleanup `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Max upload size</div>
		<span class="form-control">{{$.Range .UiMaxSize `class="form-range align-bottom" min="0" max="2048" step="1"`}}</span>
		{{$.Span .UiMaxSize `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Max job runtime</div>
		<span class="form-control">{{$.Range .UiMaxRuntime `class="form-range align-bottom" min="0" max="7200" step="60"`}}</span>
		{{$.Span .UiMaxRuntime `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Concurrent jobs</div>
		<span class="form-control">{{$.Range .UiMaxConcurrent `class="form-range align-bottom" min="1" max="8" step="1"`}}</span>
		{{$.Span .UiMaxConcurrent `class="input-group-text"`}}
	</div>
</form>

{{template "body_end.html" $}}
{{end}}</html>