<!doctype html>
<html lang="en">{{with .Dot}}

<head>
	{{template "head.html" $}}
</head>
{{template "body_start.html" $}}

<p>The settings file is at <code>{{.SettingsFile}}</code></p>

{{if (.IsAdminRequest $.Initial)}}

<form autocomplete="off">
	<p class="text-danger">Please consider the implications when changing these job defaults.</p>

	<div class="input-group mb-3">
		<div class="input-group-text">
			{{$.Checkbox .UiCleanupGotten `class="form-check-input mt-0 me-1"`}}Remove jobs once downloaded
		</div>
	</div>

	<div class="input-group mb-3">{{with .UiProxy}}
		<div class="input-group-text">Proxy for downloads</div>
		{{$.Text .Address `class="form-control" placeholder="socks5h://host.example.com" `}}
		{{$.Div .ExternalIP `class="input-group-text"`}}
		{{$.Button "Apply" `class="btn btn-outline-secondary"` .Button}}
	{{end}}</div>

	{{if .OAuth2Settings.RedirectURL}}
	{{with .UiAdmins}}
	<div class="input-group mb-3">
		<div class="input-group-text">Administrators</div>
		{{$.Text . `class="form-control"`}}
		{{$.Button "Apply" `class="btn btn-outline-secondary"` .}}
	</div>
	{{end}}
	{{with .UiImpersonate}}
	<div class="input-group mb-3">
		<div class="input-group-text">Impersonate</div>
		{{$.Text . `class="form-control"`}}
		{{$.Button "Apply" `class="btn btn-outline-secondary"` .}}
	</div>
	{{end}}
	{{end}}

	<div class="input-group mb-3">
		<div class="input-group-text">Always remove jobs after</div>
		<span class="form-control">{{$.Range .UiAutoCleanup `class="form-range align-bottom" min="0" max="86400" step="60"`}}</span>
		{{$.Span .UiAutoCleanup `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Max upload size</div>
		<span class="form-control">{{$.Range .UiMaxSize `class="form-range align-bottom" min="0" max="2048" step="1"`}}</span>
		{{$.Span .UiMaxSize `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Max job runtime</div>
		<span class="form-control">{{$.Range .UiMaxRuntime `class="form-range align-bottom" min="0" max="7200" step="60"`}}</span>
		{{$.Span .UiMaxRuntime `class="input-group-text"`}}
	</div>

	<div class="input-group mb-3">
		<div class="input-group-text">Concurrent jobs</div>
		<span class="form-control">{{$.Range .UiMaxConcurrent `class="form-range align-bottom" min="1" max="8" step="1"`}}</span>
		{{$.Span .UiMaxConcurrent `class="input-group-text"`}}
	</div>
</form>
{{else}}
<p class="text-danger">You are not an administrator.</p>
{{end}}

{{template "body_end.html" $}}
{{end}}</html>