name: Build, create and publish the main container image

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      new_version:
        required: true
        type: string  
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
    IMAGE_NAME: ${{ github.repository }}
    IMAGE_TAGS: latest ${{ github.sha }} ${{ inputs.new_version || github.ref_name }}
    IMAGE_REGISTRY: ghcr.io
    REGISTRY_USER: ${{ github.actor }}
    REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    CGO_ENABLED: 0

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.23"
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Generate
        run: go generate ./...
      - name: Build normal executable
        run: go build -v .
      - name: Build development executable 
        run: go build -v -tags devel -o rinse-devel .


      - name: Fetch gVisor
        working-directory: gvisor
        run: GO111MODULE=on go get gvisor.dev/gvisor/runsc@go

      - name: Build gVisor
        working-directory: gvisor
        run: CGO_ENABLED=0 GO111MODULE=on go build -o ../runsc gvisor.dev/gvisor/runsc

      - name: Build container image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAGS }}
          containerfiles: |
            ./Dockerfile
          oci: true

      - name: Run image self-test
        id: test_image
        run: RINSE_SELFTEST=1 ./run.sh

      - name: Push image to ghcr.io
        id: push_image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
